html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
  font-family: "Montserrat, serif";
  font-weight: normal;
  color: rgb(65, 65, 65);
  line-height: 1.6;
  font-size: 22px;
}

section{
  text-align: center;
}

h1{
  text-align: center;
}

header{
  position: absolute;
  left: 0;
  background: #fff;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
  margin: auto;
}


header .logo{
  color: #fff;
  height: 60px;
  line-height: 60px;
  font-size: 24px;
  float: left;
  font-weight: bold;
}


header .img-logo{
  width: 150px; 
  height: 50px;
  margin: 5px 0 0 0 ;
}


header nav{
  position: absolute;
  width: 100%;
  height: calc(100vh - 30px);
  background: rgb(235, 230, 230);
  top: 60px;
  left: -100%;
  transition: 0.5s;
  
}



header nav.active{
  left: 0;
}

header nav ul{
  display: block;
  text-align: center;
  padding: 0;
}


header nav ul li{
  list-style: none;
}

header nav ul li a{
  height: 50px; 
  line-height: 50px;
  display: block;
  color: #939393;
  font-size: 24px;
  transform: perspective(1px) translateZ(0);
  letter-spacing: 2px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  text-decoration: none;
  z-index: 1001;
}



.menu-toggle{
  font-size: 24px;
  float: right;
  padding: 10px;
}

.wrapper {
  height: calc(100vh);
}


.parallax-img {
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
}

.parallax-img {
  background-image: url('./city.jpg') ;
  
}


.Urban-logo{
  width: 80%;
  position: absolute;
  top: 30%;
  left: 12%;
 
}

.container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.box-1{
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  justify-content: center;
}


.box-2{
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  justify-content: center;
}

.flag-company{
  width: 20%;
  padding-left: 8%;
}

.name-company{
  margin: auto;
  text-align: center;
  color: #d8092f;
    font-weight: bolder;
    font-size: 15px;
    text-align: center;
  flex: auto;
  padding: 5px;
  
}

.detail-company{
  font-size: 14px;
  text-align: justify;
  width: 80%;
  padding: 15px;
}

.flag{
  flex: auto;
}

.image-shiten{
  display: flex;
  width: 100%;

}

.parallax_section{
  background: rgba(0,0,0,0.5);
  background: url('./yokohama.jpg') center center/cover no-repeat fixed;
  height: 300px;
  opacity: 0.4;
}

.e-jan_section{
background: rgba(0,0,0,0.5);
    background: url('./01.jpg')center center/cover no-repeat fixed;
    opacity: 0.4;
    height: 300px;
}

.e-jan-logo{
  width: 200px; 
  height: 60px; 
  padding: 20px; 
  cursor: pointer; 
}

.filter{
  filter: grayscale(100%);
}

.darken-pseudo{
  position: relative;
}

.darken-pseudo:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

.darken-with-text h2 {
  top: -240px;
  margin: 0;
  font-size: 50px;
  text-align: center;
  color: white;
  padding-top: 50px;
  position: relative;
  z-index: 1;
}


.e-jan-video{
  height: 300px;
  width: 80%;

}

.about-ejan{
  margin: auto;
  font-size: 25px;
  text-align: justify;
  font-weight: bold;
  color: #353535;
  padding: 30px;
}

span{
  color: #2b72d2;
  margin: 0 10px;
  font-size: 40px;
  font-weight: bold;
}

.box-1 ul li{
  list-style: none;
  margin: auto;
}

.e-jan-video{
  height: 450p;
  margin: auto;
  width: 100%;
}

.box-1 .about-ejan p{
  padding: 5px;
  color: #fff;
  background-color: #d8092f;
  text-align: center;
  margin: 0;
}

.one-edge-shadow {
  -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

.hako-1{
  display: flex;
  width: 100%;
  flex-direction: column;
}

.hako-2{
  display: flex;
  width: 100%;
  flex-direction: column;
}

.hako-3{
  display: flex;
  width: 100%;
  flex-direction: column;
}

.hako-4{
  display: flex;
  width: 100%;
  flex-direction: column;
}

.hako-5{
  display: flex;
  width: 100%;
  flex-direction: column;
}

.hako-image{
  display: flex;
  width: 200px;
  height: 200px;
  margin: auto;
}

.hako-title{
  display: flex;
  margin: auto;
  color: #d8092f;
  font-weight: bold;
}

.hako-detail{
  display: flex;
  margin: auto;
  margin-bottom: 20px;
  font-weight: bold;
}

.member-box-left{
  display: flex;
  width: 100%;
  height: 300px;

}

.member-box-right{
  display: flex;
  flex: auto;
  height: auto;
}

strong{
  color: #d8092f; 
  text-align: center;
  font-size: 30px;
}

.member-box-image{
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.member-box-image-1{
  display: flex;
}

.member-box-image-2{
  display: flex;
}

.member-box-image-3{
  display: flex;
}

.member-box-image-4{
  display: flex;
}

.size-image{
  display: flex;
  width: 100%;
}

.flex-3{
  display: flex;
  width: 100%;
  height: 300px;
}

.flex-4{
  display: flex;
  width: 100%;

  height: 300px;
}

.flex-6{
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
}

.urban-member{
  display: flex;
  width: 100%;
}

.urban-member-title{
  color:#414141;
  font-size: 18px;
  width: 100%;
  font-weight: bold;
  margin-top: 20px;
}

.urban-member-detail{
  color: rgb(122, 118, 118);
  font-size: 14px;
  width: 100%;
}

.read-more{
  padding: 8px;
  background: rgb(160, 159, 159);
  width: 50%;
  margin: auto;
  text-decoration: none;
  color: #fff;
  border-radius: 20px;
  font-size: 15px;
}

#margin-bottom{
  margin-bottom: 10%;
}

#margin-bottom-top{
  margin-bottom: 10%;
  margin-top: 10%;
}


#column{
  flex-direction: column;
}

.flex-25per{
  width: 100%;
  height: auto;
  display: flex;
}

.flex-1{
  width: 100%;
  display: flex;
}

#google{
  flex-direction: column-reverse;
}

footer{
  background: #414141;
  height: 100%;
}

.div-footer{
  display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
}

.footer-text{
  color: #fff;
  font-size: 14px;
  text-align: center;
}

#panel{
  display: none;
}


.flex-5{
  display: flex;
  width: 100%
}































/* Ipad */
@media only screen and (min-width: 768px) {
  .container{
    display: flex;
    flex-direction: row;
  }
  
  
  .box-1{
    display: flex;
    width: 50%;
    height: auto;
  }
  
  .box-2{
    display: flex;
    width: 50%;
    height: auto;
  }

  .image-shiten{
    display: flex;
    width: 90%;
    height: 100%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .e-jan-video{
    height: 100%;
    margin: auto;
    width: 720px;
  }

  #shouhin{
    margin-top: 8%;
  }

  #e-jan{
    margin: 5% 0 5% 0;
  }

  


  

}

/* Ipad */
@media only screen and (min-width: 1024px) {

  
  
  .Urban-logo{
    width: 80%;
    top: 20%;
    left: 11%;
  }

  
  .hako-1{
    width: 20%;
  }

  .hako-2{
    width: 20%;
  }

  .hako-3{
    width: 20%;
  }

  .hako-4{
    width: 20%;
  }

  .hako-5{
    width: 20%;
  }

  .hako-title{
    font-size: 16px;
  }

  .hako-detail{
    font-size: 15px;
    height: 60px;
  }

  

}

@media only screen and (min-width: 1281px) {

   h1{
    margin-top: 8%;
     margin-bottom: 8%;
   }
  
  .Urban-logo{
    width: 40%;
    top: 30%;
    left: 35%;
    z-index: 0;
  }

  .name-company{
    font-size: 22px;
  }

  .detail-company{
    font-size: 15px;
    color: #414141;
    font-weight: bold;
  }

  .image-shiten{
    display: flex;
    width: 60%;
    height: 100%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .image-ejan{
    height: 300px;
  }

  .about-ejan{
    font-size: 30px;
  }

  .e-jan-video{
    margin: auto;
    width: 720px;
  }

  .box-1 .about-ejan p{
    margin: 0px;
  }

  .hako-1{
    width: 20%;
  }

  .hako-2{
    width: 20%;
  }

  .hako-3{
    width: 20%;
  }

  .hako-4{
    width: 20%;
  }

  .hako-5{
    width: 20%;
  }

  .member-box-left{
    width: 35%;
    margin-right: 10%;
    height: 680px;
  }
  
  .member-box-right{
    width: auto;
    height: auto;
  }

  #member{
    padding-right: 15%;
    padding-left: 15%;
  }

  #company{
    padding-right: 50px;
    padding-left: 50px;;
  }

  

  .member-border-box{
    position: relative;
    border-style: solid;
    border-width: 8px;
    border-color: rgb(250, 114, 104);
    transition: all 700ms ease 0s;
    margin: 0px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    width: 90%;
  }

  .member-box-content{
    position: absolute;
    background: #fff;
    height: auto;
    width: 85%;
    top: 20%;
    left: 20%;
    font-size: 20px;
    text-align: center;
    padding: 40px;
  }

  .member-box-image-1{
    display: flex;
    position: absolute;
    width: 50%;
  }

  .member-box-image-2{
    display: flex;
    position: absolute;
    width: 50%;
    left: 65%;
    top: 10%;
  }

  .member-box-image-3{
    display: flex;
    position: absolute;
    width: 50%;
    top: 50%;
  }

  .member-box-image-4{
    display: flex;
    position: absolute;
    width: 50%;
    left: 65%;
    top: 60%;
  }
   
  .size-image{
    width: 300px;
    height: 300px;
  }

  .flex-4{
    width: 40%;
    height: auto;
    margin: auto;
    min-height: 450px;
  }

  .flex-3{
    width: 30%;
    height: auto;
  }

  .flex-25per{
    width: 25%;
  }

  .urban-member{
    width: 100%;
    height: auto;
  }

  .flex-6{
    width: 60%;
    height: auto;
    flex-direction: column;
  }

  .urban-member-detail{
    margin: auto;
    text-align: center;
    font-size: 15px;
  }

  #shouhin{
    margin-top: 5%;
  }

  #e-jan{
    margin: 5% 0 5% 0;
  }

  .read-more{
    
  }

  
  #video{
    height: 100%;;
  }

  #font{
    font-size: 16px;
  }

  #google{
    flex-direction: row;
  }


  
  #flex-row{
    flex-direction: row;
  }

  #flex-column{
    flex-direction: column;
  }

  .flex-5{
    width: 50%;
    height: 50%;
  }
  
  
header nav ul{
  display: inline;
  text-align: center;
  padding: 0;
}



}