html{
  scroll-behavior: smooth;
}

#fix{
  width: 100%;
}

#button {
  display: inline-block;
  background-color: rgb(136, 135, 135);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
  opacity .5s, visibility .5s;
  opacity: 0.9;
  visibility: hidden;
  z-index: 2000;
  border-radius: 30px;
}


#button:hover {
  cursor: pointer;
  background-color: rgb(7, 7, 7);
}

#button.show {
  opacity: .5;
  visibility: visible;
}







body{
  margin: 0;
  padding: 0;
  font-family: "Montserrat, serif";
  font-weight: normal;
  color: rgb(65, 65, 65);
  line-height: 1.6;
  font-size: 22px;
}

#font{
  padding: 0 24px 0 24px;
}

section{
  text-align: center;
}

h1{
  text-align: center;
}

header{
  position: absolute;
  left: 0;
  background: #fff;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
  margin: auto;
}


header .logo{
  color: #fff;
  height: 60px;
  line-height: 60px;
  font-size: 24px;
  float: left;
  font-weight: bold;
}


header .img-logo{
  width: 100px; 
  height: 40px;
  margin: 5px 0 0 10px ;
}


header nav{
  position: absolute;
  width: 100%;
  height: calc(100vh - 30px);
  background: rgb(235, 230, 230);
  /* top: 60px; */
  left: -100%;
  transition: 0.5s;
  
}



header nav.active{
  left: 0;
}

header nav ul{
  margin: 0;
  display: block;
  text-align: center;
  padding: 0;
}


header nav ul li{
  list-style: none;
}

header nav ul li a{
  /* height: 50px;  */
  line-height: 50px;
  display: block;
  color: #939393;
  font-size: 18px;
  transform: perspective(1px) translateZ(0);
  letter-spacing: 2px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  text-decoration: none;
  z-index: 1001;
}



.menu-toggle{
  font-size: 24px;
  float: right;
  padding: 10px;
}

.wrapper {
  height: calc(100vh);
}


.parallax-img {
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
}

.parallax-img {
  background-image: url('urban-bg.jpg') ;
  
}


.Urban-logo{
  width: 80%;
  position: absolute;
  top: 30%;
  left: 12%;
 
}

.container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.box-1{
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  justify-content: center;
}


.box-2{
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  justify-content: center;
}

.flag-company{
  width: 20%;
  padding-left: 8%;
}

.name-company{
  margin: auto;
  text-align: center;
  color: #d8092f;
    font-weight: bolder;
    font-size: 15px;
    text-align: center;
  flex: auto;
  padding: 5px;
  
}

.detail-company{
  font-size: 14px;
  text-align: justify;
  width: 80%;
  padding: 15px;
}

.flag{
  flex: auto;
}

.image-shiten{
  display: flex;
  width: 100%;

}

.parallax_section{
  background: rgba(0,0,0,0.5);
  background: url('yokohama.jpg') center center/cover no-repeat fixed;
  height: 420px;
  opacity: 0.4;
}

.e-jan_section{
background: rgba(0,0,0,0.5);
    background: url('4k.jpg')center center/cover no-repeat fixed;
    opacity: 0.4;
    height: 420px;
}

.e-jan-logo{
  width: 200px; 
  height: 60px; 
  padding: 20px; 
  cursor: pointer; 
}

.filter{
  filter: grayscale(100%);
}

.darken-pseudo{
  position: relative;
}

.darken-pseudo:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

.darken-with-text h2 {
  top: -240px;
  margin: 0;
  font-size: 50px;
  text-align: center;
  color: white;
  padding-top: 50px;
  position: relative;
  z-index: 1;
}


.e-jan-video{
  height: 300px;
  width: 80%;

}

.about-ejan{
  margin: auto;
  font-size: 25px;
  text-align: justify;
  font-weight: bold;
  color: #353535;
  padding: 30px;
}

span{
  color: #2b72d2;
  margin: 0 10px;
  font-size: 40px;
  font-weight: bold;
}

.box-1 ul li{
  list-style: none;
  margin: auto;
}

.e-jan-video{
  height: 450p;
  margin: auto;
  width: 100%;
}

.box-1 .about-ejan p{
  padding: 5px;
  color: #fff;
  background-color: #d8092f;
  text-align: center;
  margin: 0;
}

.one-edge-shadow {
  -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

.hako-1{
  display: flex;
  width: 100%;
  flex-direction: column;
}

.hako-2{
  display: flex;
  width: 100%;
  flex-direction: column;
}

.hako-3{
  display: flex;
  width: 100%;
  flex-direction: column;
}

.hako-4{
  display: flex;
  width: 100%;
  flex-direction: column;
}

.hako-5{
  display: flex;
  width: 100%;
  flex-direction: column;
}

.hako-image{
  display: flex;
  width: 200px;
  height: 200px;
  margin: auto;
}

.hako-title{
  display: flex;
  margin: auto;
  color: #d8092f;
  font-weight: bold;
}

.hako-detail{
  display: flex;
  margin: auto;
  margin-bottom: 20px;
  font-weight: bold;
}

.member-box-left{
  display: flex;
  width: 100%;
  height: 300px;

}

.member-box-right{
  display: flex;
  flex: auto;
  height: auto;
}

strong{
  color: #d8092f; 
  text-align: center;
  font-size: 30px;
}

.member-box-image{
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.member-box-image-1{
  display: flex;
}

.member-box-image-2{
  display: flex;
}

.member-box-image-3{
  display: flex;
}

.member-box-image-4{
  display: flex;
}

.size-image{
  display: flex;
  width: 100%;
}

.flex-3{
  display: flex;
  width: 100%;
  height: 300px;
}

.flex-4{
  display: flex;
  width: 100%;

  height: 300px;
}

.flex-75{
  display: flex;
  width: 100%;
  height: auto;
}

.flex-25{
  display: flex;
  width: 100%;
  height: auto;
}

.flex-6{
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
}

.urban-member{
  display: flex;
  width: 100%;
}

.urban-member-title{
  color:#414141;
  font-size: 18px;
  width: 100%;
  margin-top: 20px;
}

.urban-member-detail{
  color: rgb(122, 118, 118);
  font-size: 14px;
  width: 100%;
}

.read-more{
  padding: 8px;
  background: rgb(160, 159, 159);
  width: 180pxfont;
  margin: auto;
  text-decoration: none;
  color: #fff;
  border-radius: 20px;
  font-size: 15px;
}

#margin-bottom{
  margin-bottom: 10%;
}

#margin-bottom-top{
  margin-bottom: 10%;
  margin-top: 10%;
}


#column{
  flex-direction: column;
}

.flex-25per{
  width: 100%;
  height: auto;
  display: flex;
}

.flex-1{
  width: 100%;
  display: flex;
}


#google{
  flex-direction: column-reverse;
}

footer{
  background: rgb(243, 243, 243);
  height: 100%;
}

.div-footer{
  display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
}

.footer-text{
  color: #414141;
  font-size: 15px;
  text-align: center;
  padding: 24px;
}

#panel{
  display: none;
}


.flex-5{
  display: flex;
  width: 100%
}































/* Ipad */
@media only screen and (min-width: 768px) {
  .container{
    display: flex;
    flex-direction: row;
  }
  
  #fix{
    width: 100%;
  }
  
  .box-1{
    display: flex;
    width: 50%;
    height: auto;
  }
  
  .box-2{
    display: flex;
    width: 50%;
    height: auto;
  }

  .image-shiten{
    display: flex;
    width: 92%;
    height: 100%;
    margin: auto;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  }

  .e-jan-video{
    height: 100%;
    margin: auto;
    width: 720px;
  }

  #shouhin{
    margin-top: 8%;
  }

  #e-jan{
    margin: 5% 0 5% 0;
  }

  
  .flex-25per{
    width: 25%;
  }

  
  #font{
    font-size: 12px;
  }
  
  
  #margin-bottom-top {
    margin-bottom: 6%;
    margin-top: 6%;
}


.e-jan-video{
  margin: auto;
  width: 400px;
  height: 250px;
}


.container{
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-3{
  width: 30%;
}

.flex-4{
  width: 40%;
}

.flex-6{
  width: 60%;
}

.flex-75{
  width: 75%;
  height: 50%;
}

.flex-75{
  width: 75%;
  height: 50%;
}

.flex-25{
  width: 25%;
  height: auto;
}

#google{
  flex-direction: row-reverse;
}


.member-box-left{
  width: 35%;
  margin-right: 10%;
  height: 550px;
}

.member-box-right{
  width: auto;
  height: auto;
}

.member-box-content{
  position: absolute;
  background: #fff;
  height: auto;
  width: 85%;
  top: 8%;
  left: 20%;
  font-size: 18px;
  text-align: center;
  padding: 24px;
}


.member-box-image-1{
  display: flex;
  position: absolute;
  width: 55%;
  top: 15%;
}

.member-box-image-2{
  display: flex;
  position: absolute;
  width: 55%;
  left: 60%;
  top: 25%;
}

.member-box-image-3{
  display: flex;
  position: absolute;
  width: 55%;
  top: 45%;
}

.member-box-image-4{
  display: flex;
  position: absolute;
  width: 55%;
  left: 60%;
  top: 55%;
}
 
.size-image{
  display: block;
  width: 100%;
  height: auto;
}

.member-border-box{
  position: relative;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(250, 114, 104);
  transition: all 700ms ease 0s;
  margin: 0px;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  width: 90%;
}

#member {
  padding-right: 10%;
  padding-left: 10%;

}

.box-1 {
  display: flex;
  width: 50%;
  height: auto;

}

.box-2 {
  display: flex;
  width: 50%;
  height: auto;
}

#google{
  flex-direction: row;
}

.image-ejan{
  height: 300px;
}

.urban-member-detail {
  margin: auto;
  text-align: center;
  font-size: 10px;

}

.urban-member-title {
  color: #414141;
  font-size: 16px;
  width: 100%;
  margin-top: 18px;
}

#padding-left {
  padding-left: 18px;
  transform: translateY(65px);
}

container{
  flex-direction: row;
  flex-wrap: wrap;
}


}

/* Ipad */
@media only screen and (min-width: 1024px) {

  
  
  .Urban-logo{
    width: 80%;
    top: 20%;
    left: 11%;
  }

  
  .hako-1{
    width: 20%;
  }

  .hako-2{
    width: 20%;
  }

  .hako-3{
    width: 20%;
  }

  .hako-4{
    width: 20%;
  }

  .hako-5{
    width: 20%;
  }

  .hako-title{
    font-size: 16px;
  }

  .hako-detail{
    font-size: 15px;
    height: 60px;
  }

  .flex-25per{
    width: 25%;
  }

  
  #font{
    font-size: 15px;
  }
  
  #margin-bottom-top {
    margin-bottom: 5%;
    margin-top: 5%;
}

.e-jan-video{
  margin: auto;
  width: 480px;
  height: 320px;
}

.container{
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-3{
  width: 30%;
}

.flex-4{
  width: 40%;
}

.flex-6{
  width: 60%;
}

.flex-75{
  width: 75%;
  height: 50%;
}

.flex-25{
  width: 25%;
  height: auto;
}

#google{
  flex-direction: row-reverse;
}

.member-box-left{
  width: 35%;
  margin-right: 10%;
  height: 680px;
}

.member-box-right{
  width: auto;
  height: auto;
}

.member-box-content{
  position: absolute;
  background: #fff;
  height: auto;
  width: 85%;
  top: 20%;
  left: 20%;
  font-size: 20px;
  text-align: center;
  padding: 30px;
}


.member-box-image-1{
  display: flex;
  position: absolute;
  width: 55%;
  top: 15%;
}

.member-box-image-2{
  display: flex;
  position: absolute;
  width: 55%;
  left: 60%;
  top: 25%;
}

.member-box-image-3{
  display: flex;
  position: absolute;
  width: 55%;
  top: 45%;
}

.member-box-image-4{
  display: flex;
  position: absolute;
  width: 55%;
  left: 60%;
  top: 55%;
}
 
.size-image{
  display: block;
  width: 100%;
  height: auto;
}

.member-border-box{
  position: relative;
  border-style: solid;
  border-width: 6px;
  border-color: rgb(250, 114, 104);
  transition: all 700ms ease 0s;
  margin: 0px;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  width: 90%;
}

#member {
  padding-right: 10%;
  padding-left: 10%;

}

.box-1 {
  display: flex;
  width: 50%;
  height: auto;

}

.box-2 {
  display: flex;
  width: 50%;
  height: auto;
}

#google{
  flex-direction: row;
}

.image-ejan{
  height: 300px;
}

.urban-member-detail {
  margin: auto;
  text-align: center;
  font-size: 10px;

}

.urban-member-title {
  color: #414141;
  font-size: 16px;
  width: 100%;
  margin-top: 18px;
}

#padding-left {
  padding-left: 18px;
  transform: translateY(65px);
}

}

@media only screen and (min-width: 1281px) {

   h1{
    margin-top: 8%;
     margin-bottom: 8%;
   }
  
  .Urban-logo{
    width: 40%;
    top: 30%;
    left: 35%;
    z-index: 0;
  }

  .name-company{
    font-size: 22px;
  }

  .detail-company{
    font-size: 18px;
    color: #414141;
    font-weight: bold;
  }

  .image-shiten{
    display: flex;
    width: 85%;
    height: 100%;

    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  }

  .image-ejan{
    height: 350px;
  }

  .about-ejan{
    font-size: 30px;

    
  }

  .intro-ejan-1{
    /* effect */
    opacity: 0;
    transform: translateY(20px);
    transition: 2.5s all ease-in-out;
  }

  .intro-ejan-2{
    /* effect */
    opacity: 0;
    transform: translateY(-20px);
    transition: 2.5s all ease-in-out;
  }

  .about-ejan-appear{
    opacity: 1;
    transform: translateY(0);
  }

  .e-jan-video{
    margin: auto;
    width: 720px;
  }

  .box-1 .about-ejan p{
    margin: 0px;
  }

  .hako-1{
    width: 20%;
  }

  .hako-2{
    width: 20%;
  }

  .hako-3{
    width: 20%;
  }

  .hako-4{
    width: 20%;
  }

  .hako-5{
    width: 20%;
  }

  .member-box-left{
    width: 35%;
    margin-right: 10%;
    height: 680px;
  }
  
  .member-box-right{
    width: auto;
    height: auto;
  }

  #member{
    padding-right: 15%;
    padding-left: 15%;
  }

  #company{
    padding-right: 50px;
    padding-left: 50px;;
  }

  

  .member-border-box{
    position: relative;
    border-style: solid;
    border-width: 8px;
    border-color: rgb(250, 114, 104);
    transition: all 700ms ease 0s;
    margin: 0px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    width: 90%;
  }

  .member-box-content{
    position: absolute;
    background: #fff;
    height: auto;
    width: 85%;
    top: 20%;
    left: 20%;
    font-size: 20px;
    text-align: center;
    padding: 40px;
  }

  .member-box-image-1{
    display: flex;
    position: absolute;
    width: 60%;
    top: 10%;
  }

  .member-box-image-2{
    display: flex;
    position: absolute;
    width: 60%;
    left: 65%;
    top: 20%;
  }

  .member-box-image-3{
    display: flex;
    position: absolute;
    width: 60%;
    top: 50%;
  }

  .member-box-image-4{
    display: flex;
    position: absolute;
    width: 60%;
    left: 65%;
    top: 60%;
  }
   
  .size-image{
    display: block;
    width: 100%;
    height: auto;
  }

  .flex-4{
    width: 40%;
    height: auto;
    margin: auto;
    min-height: 450px;
  }

  .flex-3{
    width: 30%;
    height: auto;
  }

  .flex-25per{
    width: 25%;
  }

  .urban-member{
    width: 100%;
    height: auto;
  }

  .flex-6{
    width: 60%;
    height: auto;
    flex-direction: column;
  }

  .urban-member-detail{
    margin: auto;
    text-align: center;
    font-size: 15px;
  }

  #shouhin{
    margin-top: 5%;
  }

  #e-jan{
    margin: 5% 0 5% 0;
  }

  .read-more{
    
  }

  
  #video{
    height: 100%;;
  }

  #font{
    font-size: 16px;
  }

  #google{
    flex-direction: row;
  }


  
  #flex-row{
    flex-direction: row;
  }

  #flex-column{
    flex-direction: column;
  }

  .flex-5{
    width: 50%;
    height: 50%;
  }

  .flex-75{
    width: 75%;
    height: 50%;
  }

  .flex-25{
    width: 25%;
    height: auto;
  }
  
  .detail-company{
    font-weight: normal;
  }

  #padding-left{
    padding-left: 20px;
  }

  .introCopmany{
    opacity: 0;
    transform: translateY(20px);
    transition: 2s all ease-in-out;
  }

  .introCompanyAppear{
    opacity: 1;
    transform: translateY(0px);
  }


  #fix{
    width: auto;
  }






}